# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# =========================
# IDE
# =========================
.vscode/

# =========================
# Training / Temp Files
# =========================
tmp_trainer/

# =========================
# Models (large files)
# =========================
models/
*.pt
*.pth
*.h5
*.ckpt

# =========================
# Data (large or sensitive)
# =========================
data/
processed/
plots/

# =========================
# Environment variables
# =========================
.env

# =========================
# Demo videos
# =========================
*.mp4
*.mov
*.avi

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
